<h1>Página de ayuda al usuario</h1>
<p>
Quizz es un juego donde los usuarios crean preguntas con sus respectivas respuestas y los demás usuarios pueden jugar a acertarlas.
Estas funciones se irán habilitando en practicas posteriores.
</p>
